keystore.jks
# Android/IntelliJ
.idea/
.gradle/
build/
app/build/
androidApp/build/
iosApp/build/
.DS_Store
*.iml
local.properties
captures/
.externalNativeBuild/
.cxx/
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
!libs/*.jar
*.log
.kotlin/

# Xcode
#
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

# Kotlin Multiplatform
.kotlin-metadata/
