keystore.jks
# Android/IntelliJ
.idea/
.gradle/
build/
app/build/
androidApp/build/
iosApp/build/
.DS_Store
*.iml
local.properties
captures/
.externalNativeBuild/
.cxx/
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
!libs/*.jar
*.log
.kotlin/
